<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs')%>
</head>

<body>
    <header>
        <%- include('../includes/header.ejs')%>
    </header>
    <main>
        <div class="banner">
            <h1 class="fs70px fs-i-55px fs-m-40px fs-p-30px"><%= pageTitle %></h1>
        </div>
        <div class="page-section">
            <div class="flex-s-a">
                <div class="box-6 box-i-7 box-m-9 box-p-12">
                    <form class="page-form" action="/signup" method="POST">
                        <input type="email" placeholder="Insert your Email" name="email" required>
                        <input type="password" placeholder="Insert password" name="password" required id="password">
                        <input type="password" placeholder="Confirm password" name="confirmPassword" required id="confirmPassword">
                        <button type="submit" disabled id="registerBtn" class="btn-disable">Signup <i class="fas fa-door-open"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <script>
            const originPassword = document.getElementById('password');
            const repeatPassword = document.getElementById('confirmPassword');
            originPassword.addEventListener('keyup', HabilitarRegistro);
            repeatPassword.addEventListener('keyup', HabilitarRegistro);

            function HabilitarRegistro() {
                var originPassword = document.getElementById("password").value;
                var repeatPassword = document.getElementById("confirmPassword").value;
                var boton = document.getElementById("registerBtn");
                if ((originPassword == repeatPassword) && originPassword != "" & repeatPassword != "") {
                    boton.removeAttribute("disabled");
                    boton.classList.remove("btn-disable");
                } else {
                    boton.disabled = true;
                    boton.classList.add("btn-disable");
                }
            }
        </script>
        <%- include('../includes/footer.ejs')%>
    </footer>
</body>

</html>