<nav>
    <ul>
        <li><a class="<%= Navpath === 'Home' ? 'active' : '' %>" href="/">Home</a></li>
        <li><a class="<%= Navpath === 'AddNewBook' ? 'active' : '' %>" href="/admin/add-book">Add new Book</a></li>
    </ul>
</nav>