<nav>
    <a href="/" class="logo-img"><img src="/img/header.png" alt="Logo"></a>
    <ul>
        <i class="far fa-times-circle" id="close-btn" onclick="destroymenu()"></i>
        <li><a class="<%= Navpath === 'Home' ? 'active' : '' %>" href="/">Home</a></li>
        <li><a class="<%= Navpath === 'AddNewBook' ? 'active' : '' %>" href="/admin/add-book">Add new Book</a></li>
    </ul>
    <i class="fas fa-chevron-down" id="menu-btn" onclick="menudisplayer()"></i>
</nav>