$color0: #2E0F35;
$color1: #4D2557;
$color2: #AA5E8B;
$color3: #BF6D9A;
$color4: #D886AF;

@import url("https://framework.marbust.com/marbust-framework.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    body {
        min-width: 300px;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Roboto', sans-serif;
    }
}

header {
    background: white;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 1400px;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    padding: 10px;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
    z-index: 10;

    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .logo-img {
            width: 200px;
            display: block;
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
            }

            img {
                width: 100%;
                display: block;
                margin: 0px auto;
            }
        }

        ul {
            display: flex;
            list-style: none;

            @media (max-width: 1100px) {
                display: none;
            }

            @media (min-width: 1100px) {
                #close-btn {
                    display: none;
                }
            }

            li {
                a {
                    display: block;
                    padding: 10px 20px;
                    margin: 5px;
                    text-decoration: none;
                    text-align: center;
                    color: black;
                    transition: 0.3s;

                    &:hover {
                        background: $color1;
                        color: white;
                    }
                }

                .active {
                    background: $color0;
                    color: white;
                }
            }

            form {
                display: flex;
                align-items: center;
                button {
                    display: block;
                    padding: 10px 20px;
                    //margin: 5px;
                    text-decoration: none;
                    text-align: center;
                    color: black;
                    transition: 0.3s;
                    border: 0px;
                    background: white;

                    &:hover {
                        background: $color1;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
            
        }

        #menu-btn {
            padding: 10px;
            font-size: 30px;
            color: $color2;
            transition: 0.3s;

            @media (min-width: 1100px) {
                display: none;
            }

            &:hover {
                background: $color3;
                color: white;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1100px) {
    .active-menu {
        display: block;
        z-index: 12;
        background: white;
        width: 100%;
        position: fixed;
        max-width: 300px;
        top: 0;
        right: 0;
        height: 100vh;
        overflow-y: auto;
        box-shadow: 0 3px 7px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
        animation: 0.5s appearmenu ease;

        #close-btn {
            padding: 10px;
            display: flex;
            justify-content: center;
            width: 50px;
            height: 50px;
            align-items: center;
            font-size: 30px;
            margin-left: auto;
            transition: 0.3s;

            &:hover {
                background: $color3;
                color: white;
                cursor: pointer;
            }
        }

        li {
            a {
                margin: 0px;
                padding: 15px 20px;
            }
        }
        form {
            justify-content: center;
            button {
                width: 100%;
            }
        }
    }

    @keyframes appearmenu {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0px);
        }
    }


    /*Code when the user close the menu, only change the class word and the animation*/

    .desactivate-menu {
        display: block;
        z-index: 12;
        background: white;
        width: 100%;
        position: fixed;
        max-width: 300px;
        top: 0;
        right: 0;
        height: 100vh;
        overflow-y: auto;
        box-shadow: 0 3px 7px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
        animation: 0.5s dappearmenu ease;
    }

    @keyframes dappearmenu {
        from {
            transform: translateX(0px);
        }

        to {
            transform: translateX(100%);
        }
    }

    .desactivate-menu #close-btn {
        padding: 10px;
        display: flex;
        justify-content: center;
        width: 50px;
        height: 50px;
        align-items: center;
        font-size: 30px;
        margin-left: auto;
        transition: 0.3s;
    }

    .desactivate-menu #close-btn:hover {
        background: $color3;
        color: white;
        cursor: pointer;
    }

    .desactivate-menu li a {
        margin: 0px;
        padding: 15px 20px;
    }

}

main {
    margin-top: 70px;
    background: white;
    min-height: calc(100vh - 80px);

    .page-section {
        padding: 70px 10% 30px 10%;

        h1 {
            text-align: center;
            color: $color0;
        }
    }
}

.banner {
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/banner/banner.jpg);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    color: white;
    padding: 20px 10%;

    h1,
    p {
        text-align: center;
        width: 100%;
    }
}

.not-found {
    min-height: 100vh;
}

.page-form {
    width: 100%;

    input {
        width: 100%;
        margin: 5px 0px;
        padding: 5px;
        font-size: 16px;
        border: 1px solid $color4;
        border-radius: 5px;
        font-family: inherit;

        &:focus {
            border-color: #2E0F35;
        }
    }

    textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        max-height: 25vh;
        min-height: 25vh;
        margin: 5px 0px;
        padding: 5px;
        font-size: 16px;
        border: 1px solid $color4;
        border-radius: 5px;
        font-family: inherit;

        &:focus {
            border-color: #2E0F35;
        }
    }

    button {
        display: block;
        max-width: 200px;
        width: 80%;
        text-align: center;
        margin: 10px auto;
        padding: 15px 20px;
        background: $color1;
        color: white;
        border: 0px;
        cursor: pointer;
        transition: 0.3s;
        font-family: inherit;

        &:hover {
            background: $color2;
        }
    }
    .btn-disable {
        background: gray;
        &:hover {
            background: gray;
        }
    }
}

.book-box {
    background: rgb(243, 243, 243);
    padding: 15px 0px;
    border-radius: 10px;
    transition: 0.3s;

    h2 {
        font-size: 23px;
        background: $color1;
        color: white;
        text-align: center;
        padding: 20px 10px;
    }

    .icon-ctnr {
        width: 75px;
        height: 75px;
        background: $color2;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 15px;

        i {
            font-size: 40px;
        }
    }

    p {
        //text-align: center;
        //font-weight: bold;
        margin: 5px 0px;
        font-size: 18px;
        border-bottom: 0.3px solid $color3;
        padding: 10px 15px;

        i {
            color: $color1;
        }
    }

    .price {
        font-size: 40px;
        font-weight: bold;
        color: $color0;
        text-align: center;

        i {
            color: $color0;
        }
    }

    form {
        button {
            background: white;
            border: 1px solid $color0;
            color: $color0;
            font-size: 20px;

            &:hover {
                background: $color2;
                color: white;
                border: 1px solid $color2;
            }
        }
    }
}

.btn {
    display: block;
    max-width: 200px;
    width: 80%;
    text-align: center;
    margin: 10px auto;
    padding: 15px 20px;
    background: $color1;
    color: white;
    border: 0px;
    cursor: pointer;
    transition: 0.3s;
    font-family: inherit;
    text-decoration: none;

    &:hover {
        background: $color2;
    }
}

footer {
    background: $color1;
    color: white;
    text-align: center;
    padding: 30px 10px;

    .copy-links {
        font-size: 30px;

        a {
            color: $color4;
            margin: 0px 5px;
            transition: 0.3s;

            &:hover {
                color: white;
            }
        }
    }
}


.product-detail {
    text-align: center;

    .price {
        color: $color0;
    }

    p {

        i,
        strong {
            color: $color1;
        }
    }
}

.cart-ctnr {
    .cart-row {
        //background: gray;
        margin: 10px 0px;
        background: #efefef;
        padding: 20px 5px;
        flex-wrap: nowrap;
        align-items: center;
        @media (max-width: 850px) {
            flex-wrap: wrap;
        }

        .left {
            @media (max-width: 850px) {
                width: 100%;
            }
            line-height: 2em;
        }
        p {
            color: #535353;
            width: 100%;

            strong {
                color: #1f1f1f;
            }
            @media (max-width: 850px) {
                text-align: center;
            }
        }
        .right {
            @media (max-width: 850px) {
                width: 100%;
            }
        }
    }
}

.order-row {
    background: #efefef;
    margin: 10px 0px;
    padding: 30px 10px;
    border-radius: 5px;
    h3 {
        text-align: center;
        color: $color3;
    }
    ul {
        list-style: none;
        padding: 10px;
        li {
            padding: 10px;
            border: 1px solid $color2;
            margin: 10px 0px;
        }
    }
}

.invalid-message {
    background: $color4;
    padding: 20px 10px;
    color: black;
    border: $color0 1px solid;
}