<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs')%>
</head>
<body>
    <header>
        <%- include('includes/header.ejs')%>
    </header>
    <main>
        <div class="banner not-found">
            <h1 class="fs70px fs-i-55px fs-m-40px fs-p-30px"><%= pageTitle %></h1>
        </div>
    </main>
    <footer>
        <%- include('includes/footer.ejs')%>
    </footer>
</body>
</html>