<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs')%>
</head>
<body>
    <header>
        <%- include('includes/header.ejs')%>
    </header>
    <main>
    <h1>Add Book!</h1>
    <form action="/admin/add-book" method="POST">
        <input type="text" placeholder="Insert Book Name" name="BookName">
        <input type="text" placeholder="Insert ISBN" name="BookISBN">
        <input type="text" placeholder="Insert Author" name="BookAuthor">
        <input type="text" placeholder="Insert Publish Year" name="BookPublishYear">
        <button type="submit">Add <i class="fas fa-book"></i></button>
    </form>
    </main>
    <footer>
        <%- include('includes/footer.ejs')%>
    </footer>
</body>
</html>